* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

.sticker-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.sticker {
  display: inline-block;
  text-align: center;
  margin: auto;
}

img {
  width: 200px;
  height: auto;
}

input {
  margin-top: 10px;
  width: 50px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#resultado {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
